mixin about()
  section#about.about-section
    .container
      .about-section__card
        header.about-section__card-header
          h2 Information
          h4 What is Public Affairs?
        .about-section__card-info
          p Public Affairs is a Department's public event organiser, they manage private server events, ride-alongs and the community side of things.
          blockquote
          h4 What is DoT's Public Affairs?
          p The Department of Transportation's Public Affairs is directed by iiElectricRBLX and overseed by XxExtention05, is responsible for managing community events within the Department of Transportation.
