mixin team()
  section#team.common-section
    .container
      header.common-section__header
        h2 Our Team
        p Donec convallis pretium erat in varius
      .team
        .team__member
          img(src="static/images/team/1.jpg" alt="sta_ged")
          .team__member-info
            h3.team__member-name sta_ged
            p.team__member-role Department Coordinator
            p.team__member-descr sta_ged is the Department Coordinator organising and managing all departments within Mano County.

        .team__member
          img(src="static/images/team/2.jpg" alt="iiRapidbombL")
          .team__member-info
            h3.team__member-name iiRapidbombL
            p.team__member-role Secretary
            p.team__member-descr iiRapidbombL is the Secretary of DoT, iiRapidbombL is the Head of Department managing DoT at this time.

        .team__member
          img(src="static/images/team/3.jpg" alt="XxExtention05")
          .team__member-info
            h3.team__member-name XxExtention05
            p.team__member-role Public Affairs Overseer
            p.team__member-descr XxExtention05 is the Public Afairs Overseer who manages and overseers Public Affairs.

        .team__member
          img(src="static/images/team/4.jpg" alt="iiElectricRBLX")
          .team__member-info
            h3.team__member-name iiElectricRBLX
            p.team__member-role Director
            p.team__member-descr iiElectricRBLX is the Director of Public Affairs, managing the division.

        .team__member
          img(src="static/images/team/5.jpg" alt="SIimTommy")
          .team__member-info
            h3.team__member-name SIimTommy
            p.team__member-role Deputy Director
            p.team__member-descr SIimTommy is the Deputy Director of Public Affairs, assisting the Dirrector to manage the division.

        .team__member
          img(src="static/images/team/6.jpg" alt="Bob Harvey")
          .team__member-info
            h3.team__member-name Bob Harvey
            p.team__member-role Web Developer
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Aliquam in nulla sem.

        .team__member
          img(src="static/images/team/7.jpg" alt="Lesa Morgan")
          .team__member-info
            h3.team__member-name Lesa Morgan
            p.team__member-role Web Developer
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Aliquam in nulla sem.
